<header class="header">
    <a href="/" class="header_logo">NodeJs</a>
    <nav class="header_nav">
        <ul>
        <li>
            <a href="/" class="">Home</a>
        </li>
        <li>
            <a href="https://portfolio-sigma-seven-30.vercel.app/?fbclid=PAAaZ2FU_K0GhX_8PwjPZl5CIkaTBXeOpcM1rtBDLIqt172X183YadYTAItlA" class="">About</a>
        </li>
        <li>
            <a href="/admin" class="">Sign In</a>
        </li>
        
        </ul>
    </nav>
    <div class="header_button" aria-expanded="false">
        <button class="searchBtn" >
           Search 
            
        </button>
    </div>
</header>